# data science / plotting
numpy
matplotlib
scipy
seaborn
scikit-learn
pandas
numba
uproot

# wandb/hydra
omegaconf
hydra-core
wandb

# # tests
# black
# coverage
# darglint
# flake8
# isort
# pylint
# pytest-cov
# pytest

# misc
h5py
tqdm
fastjet

# workflow
snakemake

# to download opendataset
cernopendata-client[pycurl]
